
{% extends "base.html.twig" %}

{% block body %}
    <h2>Articles les moins chere</h2>

    <div class="row">
        {% for promo in promos %}
        <div class="col-md-3">
                <img src="../images/{{ promo.image }}" alt="" class="img-thumbnail">
                <p>  Nom: {{promo.nom}}</p>
                <p> Marque: {{promo.marque}}</p>
                <p>Prix: <i class="bg-secondary text-white">{{promo.prix}}€</i></p>
        </div>
        {% endfor %}
    </div>
    <hr>


<h2>Listes des produits</h2>
<!-- boucle pour parcourir le tableau et afficher mes données -->
    {% for produit in produits %}
        <div class="row">
            <div class="clo-md-6">
                <img src="../images/{{ produit.image }}" width="100" height="90" alt="images" srcset="">
            </div>
            <div class="clo-md-6">
                <p><b>Nom : </b>{{ produit.nom }}</p>
                <p><b>Marque : </b>{{ produit.marque }}</p>
                <p><b>Prix : </b>{{ produit.prix }} €</p>
            </div>
        </div>
        <a href="{{ path('produit_show', {'id':produit.id}) }}" class="btn btn-info text-right">Lire plus</a>
        <hr>
    {% endfor %}

{% endblock %}